h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    &.sticky-nav {
        background-color: white;
        position: fixed;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        z-index: 1000;
        .container {
            .navbar-toggler {

            }
            .navbar-collapse {
                ul.navbar-nav {
                    --bs-nav-link-padding-y: 0;
                    li {
                        a {
                            color: $darkblue;
                            height: 50px;
                            line-height: 54px;
                        }
                    }
                }
            }
        }
    }
    .container {
        justify-content: flex-end;
        .navbar-toggler {
            border: 0;
            &:focus {
                outline: none;
                box-shadow: none;
            }
            .fas {
                color: white;
                font-size: 30px;
            }
            .fas {
                color: white;
                font-size: 30px;
            }
        }
        .navbar-collapse {
            justify-content: flex-end;
            ul.navbar-nav {
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: flex-end;
                margin: 0;
                li {
                    margin-left: 2rem;
                    a {
                        color: #fff;
                        text-decoration: none;
                        height: 70px;
                        line-height: 70px;
                        font-family: "Poppins", sans-serif;
                        font-weight: 700;
                        font-style: italic;
                    }
                }
            }
        }
    }
}

#hero-banner {
    height: 100vh;
    background-image: url("../assets/images/hero-bg.webp");
    background-size: cover;
    .container {
        height: 100%;
        .row {
            height: 100%;
            align-items: center;
            justify-content: center;
            .hero-banner-content {
                .race-details {
                    display: flex;
                    opacity: .8;
                    margin-bottom: 20px;
                    .race-detail-container {
                        margin-right: 60px;
                        label {
                            font-size: 14px;
                            color: white;
                            font-family: "Poppins", sans-serif;
                            font-weight: 400;
                        }
                        .race-detail {
                            display: flex;
                            color: white;
                            align-items: center;
                            .fas {
                                margin-right: 10px;
                                font-size: 24px;
                            }
                            p {
                                font-family: "Poppins", sans-serif;
                                font-weight: 700;
                                font-style: italic;
                                margin: 0;
                                font-size: 24px;
                            }
                        }
                    }
                }
                .btn-primary {
                    background-color: $orange;
                    border-color: $orange;
                    font-family: "Poppins", sans-serif;
                    font-weight: 700;
                    font-style: italic;
                    padding: 10px 20px;
                    font-size: 1.4rem;
                }
            }
            h1 {
                font-family: "Poppins", sans-serif;
                font-weight: 800;
                font-style: italic;
                text-transform: uppercase;
                color: white;
                margin-bottom: 40px;
                font-size: 3rem;
            }
            h4 {
                color: white;
                font-weight: 600;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
    }
        .countdown-wrapper {
        background-color: #0a2536ab;
        padding: 20px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        .container {
            #countdown {
                display: flex;
                justify-content: center;
                span.divider {
                    font-size: 4.2rem;
                    line-height: 3.2rem;
                    font-style: italic;
                    color: $orange;
                }
                .run-icon {
                    img {
                        width: 77px;
                        margin-right: 20px;
                    }
                }
                .countdown-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 10px;
                    span {
                        font-size: 3.2rem;
                        line-height: 3.4rem;
                        color: white;
                        font-family: "Poppins", sans-serif;
                        font-weight: 700;
                        font-style: italic;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    p {
                        font-size: 1.1rem;
                        color: white;
                        font-family: "Poppins", sans-serif;
                        font-weight: 400;
                        font-style: italic;
                        margin-bottom: 0;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

#intro {
    padding: 60px 0 40px;
    position: relative;
    .container {
        .row {
            .col-12 {
                display: flex;
                align-items: center;
                .intro-content {
                    margin-top: -60px;
                    h2 {
                        color: $orange;
                        margin-bottom: 20px;
                        font-size: 2.5rem;
                    }
                }
                .intro-image {
                    position: relative;
                    z-index: 10;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

#mechanics {
    background-color: $green;
    color: white;
    padding: 60px 0;
    .section-title {
        margin-bottom: 20px;
    }
    .container {
        .row {
            .col-12 {
                h3 {
                    font-weight: 700;
                    font-size: 1.5rem;
                }
                .mechanics-content {
                    img {
                        width: 100%;
                        height: auto;
                    }
                    .bold-text {
                        font-weight: 700;
                        font-size: 1.2rem;
                        font-style: italic;
                    }
                }
            }
            &.mechanics-row {
                border-top: 1px solid white;
                padding: 40px 0;
            }
        }
    }
}

#finisher-shirt {
    padding: 120px 0;
    position: relative;
    .section-bg {
        width: 100%;
        height: 400px;
        position: absolute;
        background-image: url('../assets/images/shirt-bg.webp');
        background-size: contain;
        background-position: center bottom;
        background-repeat: repeat no-repeat;
        bottom: 0;
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 10;
        .row {
            .col-12 {
                .section-content {
                    margin-top: 80px;
                    h2 {
                        color: $orange;
                        margin-bottom: 20px;
                        font-size: 2.5rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
                .section-image {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

#awards {
    padding: 120px 0;
    position: relative;
    background-color: $darkblue;
    .section-bg {
        width: 100%;
        height: 400px;
        position: absolute;
        background-image: url('../assets/images/orange-bg.webp');
        background-size: contain;
        background-position: left bottom;
        background-repeat: no-repeat;
        bottom: 0;
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 10;
        .row {
            .col-12 {
                align-items: center;
                display: flex;
                .section-content {
                    color: white;
                    h2 {
                        color: $orange;
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
                .section-image {
                    padding-right: 40px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

#sponsors {
    padding: 100px 0;
    background-color: #EBEBEB;
    .container {
        .section-title {
            color: $orange;
            margin-bottom: 40px;
            &.partners-title {
                margin-top: 60px;
            }
        }
        .row {
            .col-6 {
                display: flex;
                align-items: center;
                .sponsor-logo {
                    padding: 40px;
                    background: white;
                    margin-bottom: 20px;
                    border-radius: 20px;
                    aspect-ratio: 1 / 1;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

#message {
    background-color: $darkblue;
    padding: 40px 0 0;
    position: relative;
    .section-bg {
        width: 100%;
        height: 400px;
        position: absolute;
        background-image: url('../assets/images/orange-bg.webp');
        background-size: contain;
        background-position: left bottom;
        background-repeat: no-repeat;
        bottom: 0;
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 10;
        .row {
            .col-12 {
                display: flex;
                align-items: center;
                .section-content {
                    color: white;
                    padding: 40px 0 20px 40px;
                    p {
                        font-size: 14px;
                    }
                    .bold-text {
                        font-family: 'Poppins', sans-serif;
                        font-weight: 700;
                        font-style: italic;
                    }
                }
                .section-image {
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

#contact-us {
    padding: 100px 0;
    .container {
        .row {
            .col-12 {
                .section-content {
                    h2 {
                        color: $orange;
                        margin-bottom: 40px;
                    }
                    p {
                        font-size: 14px;
                    }
                    &.contacts {
                        .contact-info {
                            font-family: 'Poppins', sans-serif;
                            font-weight: 700;
                            font-style: italic;
                            .fas {
                                width: 30px;
                                text-align: center;
                                background-color: $darkblue;
                                height: 30px;
                                line-height: 30px;
                                color: white;
                                border-radius: 100%;
                                font-size: 15px;
                                margin-right: 10px;
                            }
                        }
                    }
                    &.faqs {
                        .accordion {
                            .accordion-item {
                                .accordion-header {
                                    margin-bottom: 2px;
                                    .accordion-button {
                                        background-color: $darkblue;
                                        color: white;
                                        border: 0;
                                        width: 100%;
                                        text-align: left;
                                        font-size: 16px;
                                        padding: 20px 40px 20px 20px;
                                        font-family: 'Poppins', sans-serif;
                                        font-weight: 400;
                                        font-style: italic;
                                        transition: all .3s ease-in-out;
                                        position: relative;
                                        &:hover {
                                            background-color: $darkblue;
                                            color: white;
                                        }
                                        &.collapsed {
                                            background-color: #EBEBEB;
                                            color: #000;
                                            &:after  {
                                                content: "+";
                                                position: absolute;
                                                right: 20px;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                font-style: normal;
                                            }
                                        }
                                        &:after {
                                            content: "-";
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            right: 20px;
                                            font-style: normal;
                                        }
                                    }
                                }
                                .accordion-collapse {
                                    .accordion-body {
                                        padding: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer-section {
    background-color: #0b1e2a;
    padding: 40px 0;
    color: white;
    .container {
        .row {
            .col-12 {
                .footer-contact {
                    padding-left: 40px;
                    .fas {
                        width: 30px;
                        text-align: center;
                        background-color: $orange;
                        height: 30px;
                        line-height: 30px;
                        color: white;
                        border-radius: 100%;
                        font-size: 15px;
                        margin-right: 10px;
                    }
                }
                .footer-content {
                    .social-media {
                        ul {
                            list-style: none;
                            padding: 0;
                            display: flex;
                            justify-content: flex-end;
                            li {
                                a {
                                    margin-left: 20px;
                                    color: white;
                                    .fab {
                                        background-color: white;
                                        color: $darkblue;
                                        width: 40px;
                                        height: 40px;
                                        line-height: 40px;
                                        text-align: center;
                                        border-radius: 100%;
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                    .footer-links {
                        ul {
                            list-style: none;
                            padding: 0;
                            display: flex;
                            justify-content: flex-end;
                            li {
                                margin-left: 20px;
                                a {
                                    color: white;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 600;
                                    font-style: italic;
                                    text-decoration: none;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    p {
                        font-size: 14px;
                        text-align: right;
                        margin-bottom: 10px;
                    }
                    a {
                        text-decoration: none;
                    }
                    .developed {
                        a {
                            color: #2f9798;
                        }
                    }
                    .social-links {
                        a {
                            color: white;
                            font-size: 20px;
                            margin-right: 20px;
                        }
                    }
                }
                .footer-logo {
                    height: 100%;
                    display: flex;
                    align-items: flex-start;
                    img {
                        margin-top: 5px;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .navbar.sticky-nav {
        background-color: transparent;
        box-shadow: none;
    }
    .container {
        --bs-gutter-x: 3.5rem;
    }
    .navbar {
        .container {
            --bs-gutter-x: 2.5rem;
            .navbar-toggler {
                padding: 10px 16px;
                margin-top: 8px;
                &[aria-expanded="false"] {
                    background-color: rgb(10 37 54 / 47%);
                    .fas {
                        color: white;
                    }
                }
                background-color: white;
                border-radius: 0;
                .fas {
                    color:$darkblue;
                }
            }
            .navbar-collapse {
                background-color: #fff;
                ul.navbar-nav {
                    li {
                        margin-left: 0;
                        a {
                            color: $darkblue;
                            padding: 0 20px;
                            height: 50px;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
    }
    #hero-banner {
        background-position: center center;
        .container {
            .row {
                height: auto;
                .col-12 {
                    img {
                        width: 80vw;
                        margin: 0 auto;
                    }
                    .hero-banner-image {
                        text-align: center;
                        margin-top: 20%;
                        margin-bottom: 60px;
                    }
                    .hero-banner-content {
                        h1 {
                          font-size: 1.8rem;  
                        }
                        .race-details {
                            justify-content: space-between;
                            .race-detail-container {
                                margin-right: 0px;
                                label {
                                    font-size: 12px;
                                }
                                .race-detail {
                                    p {
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
                .countdown-wrapper {
            .container {
                #countdown {
                    justify-content: space-between;
                    .run-icon {
                        img {
                            width: 50px;
                            margin-right: 10px;
                        }
                    }
                    span.divider {
                        font-size: 2rem;
                        line-height: 2.2rem;
                    }
                    .countdown-item {
                        text-align: center;
                        margin: 0;
                        span {
                            font-size: 2rem;
                            line-height: 2.2rem;
                        }
                        p {
                            font-size: .7rem;
                        }
                    }
                }
            }
        }
    }
    #intro {
        .container {
            .row {
                .col-12 {
                    .intro-content {
                        margin-top: 0;
                        h2 {
                            font-size: 1.8rem;
                        }
                    }
                    .intro-image {
                        text-align: center;
                        width: 100%;
                        margin-bottom: 120px;
                        img {
                            width: 80vw;
                            margin: 0 auto;
                        }
                    }
                }
            } 
        }
    }
    #mechanics {
        .container {
            .row {
                .col-12 {
                    h3 {
                        margin-bottom: 20px;
                        font-size: 1.2rem;
                    }
                    .mechanics-content {
                        img {
                            width: 80vw;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    #finisher-shirt {
        padding: 60px 0;
        .section-bg {
            height: 200px;
            background-size: cover;
        }
        .container {
            .row {
                .col-12 {
                    .section-content {
                        margin: 0;
                        h2 {
                            font-size: 1.8rem;
                        }
                    }
                    .section-image {
                        img {
                            width: 100%;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    #awards {
        .container {
            .row {
                flex-direction: column-reverse;
            }
            .section-content {
                margin-bottom: 40px;
            }
        }
    }
    #sponsors {
        .container {
            .row {
                .col-6 {
                    .sponsor-logo {
                        padding: 20px;
                    }
                }
            }
        }
    }
    #message {
        .container {
            .row {
                flex-direction: column-reverse;
                .col-12 {
                    .section-content {
                        padding: 0px!important;
                    }
                }
            }
        }
    }
    #contact-us {
        .container {
            .row {
                .col-12 {
                    .contacts {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
    .footer-section {
        .container {
            .row {
                .col-12 {
                    .footer-contact {
                        padding-left: 0;
                    }
                    .footer-content {
                        .social-media {
                            margin-bottom: 40px;
                            ul {
                                justify-content: flex-start;
                                li {
                                    a {
                                        margin-left: 0;
                                        margin-right: 14px;
                                    }
                                }
                            }
                        }
                        .footer-links {
                            ul {
                                display: block;
                                li {
                                    margin-left: 0;
                                    margin-bottom: 20px;
                                    a {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        p {
                            font-size: 12px;
                            text-align: left;
                        }
                    }
                    .footer-logo {
                        img {
                            width: 60%;
                        }
                        margin-bottom: 60px;
                    }
                }
            }
        }
    }
}